@{ ViewBag.Title = "About";}
     
<div class="newsBody">
    <div class="newsImageDivContainer">
        <div class="newsImage">
            <img src="https://fantasticfest-site.s3.amazonaws.com/images/4155/ff__main.jpg" />
        </div>
    </div>  

    <h2><strong>Fantastic Fest: Sept 21-Sept 28, 2017</strong></h2>

    @Html.Partial("_socialMediaBar")
        
    <div class="newsParagraph">
        <p>
            Fantastic Fest is the largest genre film festival in the U.S., specializing in horror, fantasy, sci-fi, action and just plain fantastic movies from all around the world.
            In years past the festival has been home to world premieres of BONE TOMAHAWK, JOHN WICK, FRANKENWEENIE, MACHETE KILLS, RED DAWN, THERE WILL BE BLOOD, APOCALYPTO, ZOMBIELAND and RED while the guest roster has included such talent as Tim Burton, Nicolas Winding-Refn, Lilly and Lana Wachowski, Robert Rodriguez, Rian Johnson, Mel Gibson, Bill Murray, Keanu Reeves, Martin Landau, Winona Ryder, Edward Norton, Ryan Reynolds, Patrick Wilson, Matthew Fox, Karl Urban, Josh Hartnett, The RZA, Dolph Lundgren, Paul Rudd, Bill Pullman, Paul Thomas Anderson, Kevin Smith, Jon Favreau, George Romero, Darren Aronofsky and Mike Judge.
            Fantastic Fest also features world, national and regional premieres of new, up-and-coming genre films.
            Fantastic Fest has seen the acquisition of many titles, including BULLHEAD, KILL LIST, MONSTERS, KLOWN, THE FP, PENUMBRA, HERE COMES THE DEVIL, NO REST FOR THE WICKED, VANISHING WAVES, COMBAT GIRLS and I DECLARE WAR.
        </p>
        <p>
            During his Keynote Address at the International film Festival Summit in Las Vegas, Variety president and publisher Charlie Koones listed Fantastic Fest in a list of “10 Film Festivals We Love,” a list which included industry heavy-hitters such as Cannes, Toronto and Telluride.
            We’ve also been named as one of the “25 coolest film festivals” and the “25 film festivals worth the entry fee” by Moviemaker Magazine.
        </p>
        <p>
            Follow us on Twitter @@fantasticfest or become a fan on Facebook for all the latest news and updates.
        </p>
    </div>
        
</div> 

