<div class="homeContent">
    <div class="homeTextField">
        <div class="logo">
            <h1>Fantastic Fest</h1>
            <span>The world's greatest genre film festival!</span>
        </div>
        <div class="linkAndDate row">
            <div class="navBar col-md-3">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Tickets</li>
                    <li>Films</li>
                    <li>Submit</li>
                    <li>Travel</li>
                </ul>
            </div>
            <div class="festDate col-md-9">
                <span>September</span>
                <span>1 - 3</span>
            </div>
        </div> 
        <div class="littleSmaller">
            <span>Alamo Drafthouse Theatre</span>
            <span>Austin, Texas 42367</span>
        </div>    
    </div>

    <div class="homeImageField">
        <img height="800px" width="1500px" 
             src="http://www.hollywoodreporter.com/sites/default/files/2015/01/The_Witch_still.jpg" />
    </div>
</div>

