<div class="homeContent">
    <div class="homeTextField">
        <div class="logo">
            <h1>Fantastic Fest</h1>
            <span>The world's greatest genre film festival</span>
        </div>
        <div class="navBar">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Tickets</li>
                <li>Films</li>
                <li>Submit</li>
                <li>Travel</li>
            </ul>
        </div>
    </div>

    <div class="homeImageField">
        <img src="https://a468ba3fc2be117c5560-f9a6225d634730495a59b91d1543c5a4.ssl.cf5.rackcdn.com/_still/ICAN-cover.jpg" />
    </div>
</div>

