@{
    Layout = "~/Views/Shared/_homeLayout.cshtml";
    ViewBag.Title = "Home";
}

<div class="homeContent">
    <div>
        <img id="homeBackgroundImage" src="https://ak8.picdn.net/shutterstock/videos/160342/thumb/1.jpg" />
    </div>

    <div class="homeTextField">
        <span id="homeLogin"><a href="~/Account/Login">[ Login ]</a></span>
        <div class="logo">
            <h1>FANTASTIC FEST</h1>
            <span><strong>"The world's greatest genre film festival!"</strong></span>
        </div>
        <div class="linkAndDate row">
            <div class="navBar col-md-3">
                <ul>
                    <li><a href="~/Home">Home</a></li>
                    <li><a href="~/Home/About">About</a></li>
                    <li><a href="~/Attend">Badges</a></li>
                    <li><a href="~/Film">Films</a></li>
                    <li><a href="~/News">News</a></li>
                    <li><a href="~/Home/Submit">Submit</a></li>
                    <li><a href="~/Travel">Travel</a></li>
                </ul>
            </div>
            <div class="festDate col-md-9">
                <span id="month"><strong>September</strong></span>
                <span id="dateRange"><strong>27<sup>th</sup> - 28<sup>th</sup></strong></span>
                <span id="year"><strong>~ 2017 ~</strong></span>
            </div>
        </div> 
        <div class="littleSmaller">
            <span>Alamo Drafthouse Theatre | | </span>
            <span>1120 S Lamar Blvd | | </span>
            <span>Austin, TX 78704</span>
        </div>   
    </div>
</div>

