<div class="pageList">
    <div class="pageNumbers">
        <a href=""><span><</span></a>
        <a href=""><span>1</span></a>
        <a href=""><span>2</span></a>
        <a href=""><span>3</span></a>
        <a href=""><span>4</span></a>
        <a href=""><span>></span></a>
    </div>
</div>
