@{
    ViewBag.Title = "News";
}

@Html.Partial("_pageHeading")

<div class="pageContent">
   
    <divn class="newsBody">
        <div class="newsImage">
            <img src="" />
        </div>



        <div class="">

        </div>
    </divn>
</div>