@{
    ViewBag.Title = "Travel";
}

@Html.Partial("_pageHeading")

<div class="pageContent">  
    <div class="newsBody">
        <div class="newsImage">
            <img src="~/Content/Images/austinSkyline.jpeg" />
        </div>

        <h2><strong>Accomodations</strong></h2>

        @Html.Partial("_socialMediaBar")

        <div class="newsParagraph">
            <p>
                When making travel plans for Fantastic Fest 2017, we recommend you stay at one of the hotels listed below.
            </p>
            <p>
                The festival shuttle service will not necessarily be traveling to all of these hotels however; 
                they are all in the same area and are a cheap cab ride, bike ride or bus ride away from the main Fantastic Fest venue, The Alamo South Lamar. 
                Details on which hotels will have festival shuttle service will also be listed on this page in the upcoming months. 
                Car2Go is readily available in the downtown area and if you choose to use that system for transportation while you are in Austin, 
                it is roughly an 8-10 minute drive from any of these hotels to the main festival venue.
            </p>
            <div id="hotelList">
                <div class="hotelCell">
                    <span class="hotelName"><strong>Holiday Inn - Town Lake</strong></span>
                    <span>20 N IH-35</span>
                    <span>Austin TX 78701</span>
                    <span>1-888-615-0509</span>
                    <span><strong>Discount Code: FAN</strong></span>
                </div>
                <div class="hotelCell">
                    <span class="hotelName"><strong>The Embassy Suites Downtown/Town Lake</strong></span>
                    <span>300 South Congress Avenue</span>
                    <span>Austin TX 78704</span>
                    <span>512-469-9000</span>
                </div>
                <div class="hotelCell">
                    <span class="hotelName"><strong>DoubleTree Suites by Hilton Austin</strong></span>
                    <span>303 West 15th Street</span>
                    <span>Austin, Texas 78701</span>
                    <span>800-222-8733</span>
                </div>
                <div class="hotelCell">
                    <span class="hotelName"><strong>The Radisson Hotel & Suites Downtown</strong></span>
                    <span>111 Cesar Chavez</span>
                    <span>Austin TX 78701</span>
                    <span>512-478-9611</span>
                </div>
                <div class="hotelCell">
                    <span class="hotelName"><strong>The InterContinental</strong></span>
                    <span>700 Congress Avenue</span>
                    <span>Austin TX 78701</span>
                    <span>512-457-8800</span>
                </div>
                <div class="hotelCell">
                    <span class="hotelName"><strong>Extended Stay - Downtown</strong></span>
                    <span>600 Guadalupe Street</span>
                    <span>Austin TX 78701</span>
                    <span>512-457-9994</span>
                </div>
            </div>
        </div>      
    </div>  
</div>
