body {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.homeContent {
    position: relative;
}

.homeTextField {
    background-color: rgba(17, 17, 17, 0.80);
    height: 800px;
    width: 550px;
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 45px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.homeTextField ul{
    margin-top: 30px;
    padding-left: 0;
    list-style:none;
}

.homeTextField h1 {
    font-family: Impact;
    font-size: 120px;
    color: rgb(159, 9, 9);
}

.logo span {
    font-size: 25px;
    color: rgb(207, 180, 34);
}

.homeTextField ul {
    padding-top: 0;
    margin-top: 50px;
}

.homeTextField li {
    color: white;
    font-size: 30px;
    font-family: Arial;
    width: 120px;
    padding: 8px;
    padding-top: 0;
    cursor: pointer;
    border-bottom: 1px solid;
    }

.festDate {
    color: rgb(159, 9, 9);
    font-family: Impact;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 120px;
    padding-left: 90px;
}

.littleSmaller {
    font-size: 18px;
    margin-top: 30px;
    color: rgb(207, 180, 34); 
}

.homeImageField {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}