body {
    background-color: white;
    width: 100%;
}

.body-content {
}

.navbar-fixed-top {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-left: 10.2%;
    margin-right: 11%;
    height: 80px;
    background-image: url('/Content/Images/scratchyFilmBackground.jpg')
}

.navbar-fixed-top h1 {
    font-family: Piedra;
    font-size: 56px;
    color: rgb(179, 19,19);
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 0px;
    padding-right: 0px;
}

.navbar-fixed-top ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 750px;
    padding-top: 25px;
    padding-left: 60px;
    justify-content: space-around;
}

.navbar-fixed-top li {
    font-size: 25px;
    color: rgb(228, 232, 60);
    border-bottom: 1px solid;
    height: 35px;
}

.navbar-fixed-top a {
    font-family: 'Kanit';
    color: rgb(228, 232, 60);
    cursor: pointer;
}

.navbar-fixed-top a:hover {
    color: rgb(179, 19,19);
    text-decoration: none;
}

#pageHeading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 120px;
    margin-left: 15%;
    margin-right: 15%;
    width: 69%;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-around
}

#pageHeading img {
    height: 40px;
    width: 65px;
    margin-top: 12px;
}

#leftEye {
    margin-right: 200px;
}

#rightEye {
    margin-left: 200px;
}

#pageHeading h1 {
    font-family: 'Trade Winds';
    font-size: 50px;
    color: rgb(179, 19,19);
    margin-bottom: 0;
    margin-top: 7px;
    margin-left: 10px;
    padding-bottom: 0;
}
    
.pageContent {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: 15%;
    margin-right: 15.8%;
    margin-top: 230px;
}

#filmStripBackground {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
    ///
    Home page styling
    ///
*/

.homeContent {
    position: relative;
}

.homeTextField {
    height: 795px;
    width: 550px;
    padding-top: 15px;
    padding-left: 45px;
    padding-right: 15px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

#homeBackgroundImage {
    opacity: .8;
    position: absolute;
    height: 795px;
    width: 550px;
    left: 0;
    top: 0;
    z-index: 2;
}

.homeTextField::after {
    background-image: url(https://ak8.picdn.net/shutterstock/videos/160342/thumb/1.jpg);
    opacity: .5;
}

#homeLogin {
    font-size: 18px;
    font-family: 'Kanit';
}

#homeLogin a{
    color: white;
}

#homeLogin a:hover {
    color: rgb(179, 19,19);
}

.homeTextField h1 {
    font-family: 'Piedra';
    font-size: 105px;
    font-weight: 500;
    color: rgb(179, 19,19);
    margin-top: 30px;
}

.logo strong {
    font-size: 23px;
    font-family: 'Trade Winds';
    font-style: italic;
    color: rgb(228, 232, 60);
}

.homeTextField ul {
    padding-top: 0;
    margin-top: 40px;
    padding-left: 0;
    list-style: none;
}

.homeTextField li {
    color: white;
    font-size: 25px;
    font-family: 'Kanit';
    width: 120px;
    padding-top: 8px;
    cursor: pointer;
    border-bottom: 1px solid;
    }

.homeTextField a{
    color: white;
    text-decoration: none;
}

    .homeTextField a:hover {
        color: rgb(179, 19,19);
    }

.festDate {
    color: rgb(179, 19,19);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}

#month {
    font-family: "Trade Winds";
    font-size: 40px;
}

#dateRange {
    font-family: 'Trade Winds';
    font-size: 65px;
    margin-top: 10px;
}

#year {
    font-family: 'Trade Winds';
    font-size: 30px;
}

.littleSmaller {
    font-size: 15px;
    font-family: 'Kanit';
    margin-top: 40px;
    color: rgb(228, 232, 60);
}

.homeImageField {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

/*
    ///
    Shared elements
    ///
*/


.newsBody {
border: 5px black solid;
background-color: white;
}

